<%= render Devices::StatusBarComponent.new(view_object: @view_object) %>
<% unless @view_object[:private_mode] %>
  <style>
    html { font-size: 16px; }
  </style>
  <%= render Devices::TimelineComponent.new(view_object: @view_object) %>
<% end %>

<div class="timestamp" style="position: absolute; bottom: 4px; right: 4px; font-family: 'Pixelify Sans', monospace; font-size: 8px; -webkit-font-smoothing: none; z-index: 10; writing-mode: vertical-rl; text-orientation: mixed;">
  Noun Project icons. <%= @view_object[:attribution] if @view_object[:attribution].present? %> <%= @view_object[:timestamp] %>
</div>
